.patch {
    background: #09d3ac;
    width: 100vw;
    height: calc(100vh - 150px);
    margin-top: 100px;
    padding-top: 50px;
    position: absolute;
}

.up {
    background: url("../../assets/spooky-up-arrow.png") center center no-repeat;
    top: 75px;
    left: 10px;
}
.down {
    background: url("../../assets/ghost.png") center center no-repeat;
    bottom: 0;
    right: 10px;
}

.carousel-arrow {
    width: 75px;
    height: 75px;
    position: absolute;
    z-index: 1;
    background-size: contain;
}

